.banner-swiper {
  border-radius: 25px;
  opacity: 1;
}

.mySwiper2 {
  background-color:#003366;
  padding: 5%;
  border-radius: 25px;
  opacity: 1;
}

.img-text {
  background-color: #003366;
  font-size: 12px;
}
